:root {
    --primary-color: #300000;
    --secondary-color: #D3AF37;
    --tertiary-color: #ffffc4;
    
}

body {
    background-color:var(--primary-color);
}


.fullwidth {
    width:100%;
    background-color: var(--primary-color);
    align-items: center;
}

#FIELD {
    background-color: var(--tertiary-color);
    width:75%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}


.BUTTON_FACTORY {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction:row;
    color: var(--secondary-color);

}