:root {
    --primary-color: #550000;
    --secondary-color: #D3AF37;
    --tertiary-color: #ffffc4;
}




.fullwidth {
    width:100%;
    background-color: var(--primary-color);
    align-items: center;
}

#FIELD {
    background-color: var(--tertiary-color);
    width:75%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}


.BUTTON_FACTORY {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction:row;
    color: var(--secondary-color);

}